.border-right {
    border-right: .5rem double #910b0b !important;
}

.border-top-custom {
    border-top: .5rem double #910b0b !important;
}

.contactus-container {
    font-family: 'IRANYekan', sans-serif !important;

}